.mails-page {
  background: var(--main-background);
  padding-bottom: 8rem;
}
.mails-container {
  padding: var(--padding-standard);
  .mails-container__content {
    background: var(--mails-container-background);
    border-radius: var(--border-radius-standard);
    padding: var(--padding-standard);
    .paginations-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
