.mails-page {
  background: var(--main-background);
  padding-bottom: 10rem;
}
.mails-container {
  padding: var(--padding-standard);
  .mails-container__content {
    background: var(--mails-container-background);
    border-radius: var(--border-radius-standard);
    padding: var(--padding-standard);

    .paginations-wrapper {
      display: flex;
      position: fixed;
      width: 100%;
      left: 0;
      bottom: 5rem;
      padding: var(--padding-standard);
      z-index: 100;
      z-index: 100;
      background: var(--main-background);
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .mails-container {
    padding: 0;
    .mails-container__content {
      background: none;
      .paginations-wrapper {
        background: var(--main-background);
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 5rem;
        padding: var(--padding-standard);
        z-index: 100;
      }
    }
  }
}
