.controls {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--gap-xs);
}

.play-button {
  background: var(--violet-color);
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(16%) hue-rotate(331deg)
      brightness(105%) contrast(105%);
    height: 20px;
  }
}

.progress-container-wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);

  justify-content: space-between;
  width: 100%;
  .time-info {
    font-size: var(--font-ms-size);
    color: var(--gray-color);
  }
}
.progress-slider {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: var(--gray-blue-color-medium-light);
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  & ::-webkit-slider-thumb {
    background: var(--violet-color);
  }
  &-moz-range-thumb {
    background: var(--violet-color);
  }
}
