<div class="paginations-container">
  <app-pagination-button
    (onClick)="prevPage.emit()"
    [alsoButton]="{ name: 'prev', icon: 'assets/icons/arrow-left.svg' }"
  ></app-pagination-button>
  @for (item of alsoPages; track $index) {
  <app-pagination-button
    [page]="item"
    [currentPage]="currentPage"
    (onClick)="setPage.emit(item)"
  ></app-pagination-button>
  }
  <app-pagination-button
    (onClick)="nextPage.emit()"
    [alsoButton]="{ name: 'next', icon: 'assets/icons/arrow-right.svg' }"
  ></app-pagination-button>
</div>
