footer {
  background: var(--footer-background);
  position: absolute;
  bottom: 0;
  padding-top: var(--padding-standard);
  padding-bottom: var(--padding-standard);
  color: var(--font-gray-color);
  font-size: var(--font-sm-size);
  font-family: var(--font-standard-family);
  font-weight: var(--font-weight-regular);
  width: 100%;
}

@media (max-width: 768px) {
  footer {
    padding-left: var(--padding-standard);
    padding-right: var(--padding-standard);
  }
}
