p {
  margin: 0;
  padding: 0;
}
.mail-section-align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mail-section {
  display: grid;
  grid-template-columns: 0.8fr 1fr 2fr 0.5fr;
  align-items: center;
  .mail-section__date-text {
    font-size: var(--font-sm-size);
    color: var(--font-dark-color);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-standard-family);
  }
  .mail-section__date-text-translit {
    font-size: var(--font-xs-size);
    padding-top: 5px;
    font-weight: var(--font-weight-regular);
    font-family: var(--font-standard-family);
    max-width: 100px;
    color: var(--font-medium-color);
  }
  .mail-section__phone {
    font-size: var(--font-sm-size);
    color: var(--font-dark-color);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-standard-family);
  }
  p {
    font-size: var(--font-xs-size);
    font-weight: var(--font-weight-bold);
    color: var(--font-dark-color);
  }
  .mail-section__action {
  }
}
